.credit-top {
  max-width: 950px;
  margin: 0 auto;

  @include breakpointsMaxW($bp-991) {
    padding: 0 15px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 440px;
    gap: 60px;

    @include breakpointsMaxW($bp-container) {
      gap: 30px;
      grid-template-columns: 1fr 340px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    font-weight: 400;
    @include adaptive-value('font-size', 25, 20, 1);
    @include adaptive-value('margin-bottom', 30, 20, 1);
  }

  &__text {
    line-height: 1.8;

    p {
      margin-bottom: 20px;
    }
  }

  &__img {
    height: 440px;
    max-width: 440px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;

    @include breakpointsMaxW($bp-768) {
      display: none;
    }
  }
}
