.delivery {
  max-width: 950px;
  margin: 0 auto;

  @include breakpointsMaxW($bp-991) {
    padding: 0 15px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-weight: 400;
    @include adaptive-value('font-size', 25, 20, 1);
    @include adaptive-value('margin-bottom', 20, 15, 1);
  }

  &__text {
    line-height: 2.2;

    b {
      font-size: 20px;
    }
  }
}
