.grid {
  overflow-x: hidden;
  height: 700px;

  @include breakpointsMaxW($bp-991) {
    height: 500px;
  }

  &__wrapper {
    display: flex;
  }

  &__left {
    width: 100%;
    position: absolute;
    top: 90px;
    height: 700px;
    // z-index: 1;
    background-color: #f9f9f9;

    padding-top: 90px;
    right: max(250px, calc((100% + 750px) / 2));

    @include breakpointsMaxW($bp-container) {
      width: 250px;
      left: 15px;
    }

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__right {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: max(250px, calc((100% - 750px) / 2));

    @include breakpointsMaxW($bp-991) {
      width: 100%;
      left: 0;
      right: 0;
      height: 500px;
    }
  }
}

.hero {
  padding-top: 90px;
  color: var(--color-white);

  &__slide {
    height: 700px;
    box-sizing: border-box;
    padding: 100px 60px;
    width: 100%;
    display: flex;
    align-items: center;
    @include background(cover);
    background-position-x: 5%;

    @include breakpointsMaxW($bp-991) {
      padding: 40px;
      height: 500px;
      padding-top: 60px;
      align-items: flex-start;
      background-position-x: 0;
    }

    @include breakpointsMaxW($bp-768) {
      padding: 20px;
      padding-top: 40px;
      background-position-x: 25%;
    }
  }

  &__offer {
    max-width: 455px;
  }

  &__title {
    font-family: $FuturaNew;
    line-height: 1.25;
    @include adaptive-value('margin-bottom', 25, 20, 1);
    @include adaptive-value('font-size', 40, 30, 1);
  }

  &__text {
    @include adaptive-value('margin-bottom', 40, 30, 1);
  }

  &__btn {
    padding-right: 60px;
    position: relative;

    &:hover {
      border-color: var(--color-white);
    }

    &::after {
      @include elDef();
      width: 15px;
      height: 15px;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      background-color: var(--color-dark);
      @include maskImage(url('../img/icons/arrow-right-small.svg'), contain);
    }
  }

  &__actions {
    width: 70px;
    height: 35px;
    position: absolute;
    bottom: 60px;
    left: 60px;
    display: flex;
    align-items: center;

    @include breakpointsMaxW($bp-991) {
      bottom: 40px;
      left: 40px;
    }

    @include breakpointsMaxW($bp-768) {
      bottom: 20px;
      left: 20px;
    }

    &::after {
      @include elDef();
      width: 1px;
      height: 10px;
      right: 49%;
      top: 70%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.3);
      z-index: 1;
    }

    .swiper-button-prev,
    .swiper-button-next {
      background-color: rgba(255, 255, 255, 0.1);
      border-color: transparent;
      width: 35px;
      border-radius: 0;
      transition: 200ms ease;

      &::after {
        transition: 200ms ease;
        background-color: var(--color-white);
      }

      &.swiper-button-disabled {
        opacity: 1;
        pointer-events: all;

        &::after {
          background-color: rgba(255, 255, 255, 0.3);
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);

          &::after {
            background-color: rgba(255, 255, 255, 0.3);
          }
        }
      }

      &:hover {
        background-color: var(--color-white);

        &::after {
          background-color: var(--color-dark);
        }
      }
    }

    .swiper-button-prev {
      left: initial;
      border-radius: 3px 0 0 3px;
    }

    .swiper-button-next {
      right: initial;
      border-radius: 0 3px 3px 0;
    }
  }
}

.side {
  background-color: #f9f9f9;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
  height: 100%;

  &__inner {
    width: 100%;
  }

  &__item {
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: flex-end;

    &:first-child,
    &:last-child {
      border-bottom-color: transparent;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: var(--color-dark);
    font-size: 15px;
    padding: 10px 0;
    width: 230px;
    line-height: 1.2;
    transition: 200ms ease;

    &:hover {
      .side__icon {
        transform: rotate(-90deg);
      }
    }

    &:hover {
      color: var(--color-purple);
    }

    img {
      margin-right: 20px;
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  &__icon {
    width: 8px;
    height: 8px;
    margin-left: auto;
    transform: rotate(0);
    transition: 200ms ease;
    transition-delay: 100ms;
  }
}

.about-top {
  height: 690px;
  margin-top: 100px;
  color: #2b2b2b;
  @include background(cover);
  @include adaptive-value('padding', 50, 20, 1);

  @include breakpointsMaxW(1440px) {
    background-position: 30% center;
  }

  @include breakpointsMaxW($bp-991) {
    height: 500px;
    background-position: 10% center;
  }

  @include breakpointsMaxW($bp-768) {
    margin-top: 80px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    height: 100%;

    @include adaptive-value('padding-top', 50, 20, 1);
  }

  &__offer {
    max-width: 375px;
  }

  &__title {
    font-weight: 400;
    @include adaptive-value('font-size', 25, 20, 1);
    @include adaptive-value('margin-bottom', 100, 40, 1);
  }

  &__heading {
    @include adaptive-value('font-size', 25, 20, 1);
    @include adaptive-value('margin-bottom', 18, 15, 1);
  }

  &__text {
    line-height: 1.6;
  }
}

.side__item {
  position: relative;

  a:hover {
    color: var(--color-purple);
  }
}

// * Выпадающее меню
.side__item:hover .dropmenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.side .dropmenu {
  z-index: 10;
  width: 280px;
  position: absolute;
  right: -302px;
  top: 0;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 19px 51px 0px rgba(53, 56, 62, 0.23);
  box-shadow: 0px 19px 51px 0px rgba(53, 56, 62, 0.23);
  border-radius: 10px;
  padding: 0 21px;
  -webkit-transition: 450ms ease;
  -o-transition: 450ms ease;
  transition: 450ms ease;
  -webkit-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  transition-delay: 150ms;

  // -webkit-transform: translateY(-10px);
  // -ms-transform: translateY(-10px);
  transform: translateX(-30px);
  opacity: 0;
  visibility: hidden;
}

.side .dropmenu:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.side .dropmenu__item {
  border-bottom: 1px solid #ebebeb;
  position: relative;
}
.side .dropmenu__item:last-child {
  border-bottom: none;
}
.side .dropmenu__link {
  display: block;
  width: 100%;
  color: var(--color-dark);
  padding: 12px 0;
  -webkit-transition: 150ms ease;
  -o-transition: 150ms ease;
  transition: 150ms ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side .dropmenu__link:hover {
  color: var(--color-secondary);
}
.side .dropmenu__link:hover + .submenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.side .dropmenu__link:hover {
  color: var(--color-purple);
}

.side .submenu {
  -webkit-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  width: 180px;
  position: absolute;
  right: -202px;
  top: 0;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 19px 51px 0px rgba(53, 56, 62, 0.23);
  box-shadow: 0px 19px 51px 0px rgba(53, 56, 62, 0.23);
  border-radius: 10px;
  padding: 0 21px;
  -webkit-transition: 450ms ease;
  -o-transition: 450ms ease;
  transition: 450ms ease;
  -webkit-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  transition-delay: 150ms;
}

.side .submenu:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.side .submenu__item {
  border-bottom: 1px solid #ebebeb;
}
.side .submenu__item:last-child {
  border-bottom: none;
}
.side .submenu__link {
  display: block;
  width: 100%;
  color: var(--color-dark);
  padding: 12px 0;
  -webkit-transition: 150ms ease;
  -o-transition: 150ms ease;
  transition: 150ms ease;
  position: relative;
}
.side .submenu__link:hover {
  color: var(--color-purple);
}
.side .dropmenu__link:hover .side__icon {
  transform: rotate(-90deg);
}
.side .submenu__link:hover::after {
  background-color: var(--color-secondary);
  -webkit-transform: translateY(-50%) translateX(3px) rotate(-90deg);
  -ms-transform: translateY(-50%) translateX(3px) rotate(-90deg);
  transform: translateY(-50%) translateX(3px) rotate(-90deg);
}
