<div class="advantages">
  <div class="container">
    <div class="advantages__slider swiper">
      <ul class="advantages__list swiper-wrapper">
        <li class="advantages-item swiper-slide">
          <picture>
            <source srcset="img/advantages/1.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/1.png"
              alt="advantages"
            />
          </picture>

          <span class="advantages-item__title">Качественные материалы</span>
          <p class="advantages-item__text">
            Надувные горки, батуты, бассейны, аэромены и рекламные конструкции
            производятся из прочного ПВХ, устойчивого к механическим
            повреждениям и температурным перепадам.
          </p>
        </li>
        <li class="advantages-item swiper-slide">
          <picture>
            <source srcset="img/advantages/2.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/2.png"
              alt="advantages"
            />
          </picture>

          <span class="advantages-item__title">Огромный ассортимент</span>
          <p class="advantages-item__text">
            В каталоге представлены популярные модели надувных аттракционов
            различной тематики и конфигурации. Сооружения для любой площади и
            для размещения как в крытых павильонах, так и под открытым небом.
          </p>
        </li>
        <li class="advantages-item swiper-slide">
          <picture>
            <source srcset="img/advantages/3.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/3.png"
              alt="advantages"
            />
          </picture>

          <span class="advantages-item__title">Индивидуальные проекты</span>
          <p class="advantages-item__text">
            Дизайнеры компании «AIR-GAMES» в самые короткие сроки создадут для
            Вас целый парк развлечений и представят визуальное оформление в
            формате 3D.
          </p>
        </li>
        <li class="advantages-item swiper-slide">
          <picture>
            <source srcset="img/advantages/4.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/4.png"
              alt="advantages"
            />
          </picture>

          <span class="advantages-item__title">Собственное производство</span>
          <p class="advantages-item__text">
            Изготовлением продукции для развлекательных комплексов и созданием
            рекламных надувных конструкций занимаются сотрудники в России и
            Китае.
          </p>
        </li>
        <li class="advantages-item swiper-slide">
          <picture>
            <source srcset="img/advantages/1.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/1.png"
              alt="advantages"
            />
          </picture>

          <span class="advantages-item__title">Качественные материалы</span>
          <p class="advantages-item__text">
            Надувные горки, батуты, бассейны, аэромены и рекламные конструкции
            производятся из прочного ПВХ, устойчивого к механическим
            повреждениям и температурным перепадам.
          </p>
        </li>
        <li class="advantages-item swiper-slide">
          <picture>
            <source srcset="img/advantages/2.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/2.png"
              alt="advantages"
            />
          </picture>

          <span class="advantages-item__title">Огромный ассортимент</span>
          <p class="advantages-item__text">
            В каталоге представлены популярные модели надувных аттракционов
            различной тематики и конфигурации. Сооружения для любой площади и
            для размещения как в крытых павильонах, так и под открытым небом.
          </p>
        </li>
        <li class="advantages-item swiper-slide">
          <picture>
            <source srcset="img/advantages/3.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/3.png"
              alt="advantages"
            />
          </picture>

          <span class="advantages-item__title">Индивидуальные проекты</span>
          <p class="advantages-item__text">
            Дизайнеры компании «AIR-GAMES» в самые короткие сроки создадут для
            Вас целый парк развлечений и представят визуальное оформление в
            формате 3D.
          </p>
        </li>
        <li class="advantages-item swiper-slide">
          <picture>
            <source srcset="img/advantages/4.webp" type="image/webp" />
            <img
              class="advantages-item__img"
              src="img/advantages/4.png"
              alt="advantages"
            />
          </picture>

          <span class="advantages-item__title">Собственное производство</span>
          <p class="advantages-item__text">
            Изготовлением продукции для развлекательных комплексов и созданием
            рекламных надувных конструкций занимаются сотрудники в России и
            Китае.
          </p>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
