<div class="grid-relative">
  <div class="container">
    <div class="grid-relative__left">
      <div class="side">
        <div class="side__inner">
          <ul class="side__list">
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/1.webp" type="image/webp" />
                  <img src="img/side-links/1.png" alt="Карусели" />
                </picture>
                <span>Карусели</span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/2.webp" type="image/webp" />
                  <img src="img/side-links/2.png" alt="Карусели" />
                </picture>
                <span> Паровозы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/3.webp" type="image/webp" />
                  <img src="img/side-links/3.png" alt="Карусели" />
                </picture>
                <span> Машинки </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/4.webp" type="image/webp" />
                  <img src="img/side-links/4.png" alt="Карусели" />
                </picture>
                <span> Автодромы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/5.webp" type="image/webp" />
                  <img src="img/side-links/5.png" alt="Карусели" />
                </picture>
                <span>Семейные аттракционы</span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/6.webp" type="image/webp" />
                  <img src="img/side-links/6.png" alt="Карусели" />
                </picture>
                <span> Зимние атрракционы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/1.webp" type="image/webp" />
                  <img src="img/side-links/1.png" alt="Карусели" />
                </picture>
                <span> Карусели </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/2.webp" type="image/webp" />
                  <img src="img/side-links/2.png" alt="Карусели" />
                </picture>
                <span> Паровозы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/3.webp" type="image/webp" />
                  <img src="img/side-links/3.png" alt="Карусели" />
                </picture>
                <span> Машинки </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/4.webp" type="image/webp" />
                  <img src="img/side-links/4.png" alt="Карусели" />
                </picture>
                <span> Автодромы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/5.webp" type="image/webp" />
                  <img src="img/side-links/5.png" alt="Карусели" />
                </picture>
                <span>Семейные аттракционы</span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/6.webp" type="image/webp" />
                  <img src="img/side-links/6.png" alt="Карусели" />
                </picture>
                <span> Зимние атрракционы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/7.webp" type="image/webp" />
                  <img src="img/side-links/7.png" alt="Карусели" />
                </picture>
                <span>Иллюминация</span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/8.webp" type="image/webp" />
                  <img src="img/side-links/8.png" alt="Карусели" />
                </picture>
                <span> Сервисное обслуживание </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-relative__right">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Каталог</a>
          </li>
        </ul>
      </div>
      <section class="catalog">
        <h1 class="catalog__title">Каталог</h1>

        <ul class="catalog__list">
          <li class="catalog__item">
            <article class="catalog-card">
              <div class="catalog-card__top">
                <picture>
                  <source srcset="img/catalog/1.webp" type="image/webp" />
                  <img src="img/catalog/1.jpg" alt="catalog" />
                </picture>
              </div>
              <div class="catalog-card__body">
                <h3 class="catalog-card__title">
                  Детские <br />
                  аттракционы
                </h3>
                <a class="catalog-card__btn btn btn--bordered" href="#">
                  Смотреть все
                </a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="catalog-card">
              <div class="catalog-card__top">
                <picture>
                  <source srcset="img/catalog/1.webp" type="image/webp" />
                  <img src="img/catalog/1.jpg" alt="catalog" />
                </picture>
              </div>
              <div class="catalog-card__body">
                <h3 class="catalog-card__title">
                  Детские <br />
                  аттракционы
                </h3>
                <a class="catalog-card__btn btn btn--bordered" href="#">
                  Смотреть все
                </a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="catalog-card">
              <div class="catalog-card__top">
                <picture>
                  <source srcset="img/catalog/1.webp" type="image/webp" />
                  <img src="img/catalog/1.jpg" alt="catalog" />
                </picture>
              </div>
              <div class="catalog-card__body">
                <h3 class="catalog-card__title">
                  Детские <br />
                  аттракционы
                </h3>
                <a class="catalog-card__btn btn btn--bordered" href="#">
                  Смотреть все
                </a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="catalog-card">
              <div class="catalog-card__top">
                <picture>
                  <source srcset="img/catalog/1.webp" type="image/webp" />
                  <img src="img/catalog/1.jpg" alt="catalog" />
                </picture>
              </div>
              <div class="catalog-card__body">
                <h3 class="catalog-card__title">
                  Детские <br />
                  аттракционы
                </h3>
                <a class="catalog-card__btn btn btn--bordered" href="#">
                  Смотреть все
                </a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="catalog-card">
              <div class="catalog-card__top">
                <picture>
                  <source srcset="img/catalog/1.webp" type="image/webp" />
                  <img src="img/catalog/1.jpg" alt="catalog" />
                </picture>
              </div>
              <div class="catalog-card__body">
                <h3 class="catalog-card__title">
                  Детские <br />
                  аттракционы
                </h3>
                <a class="catalog-card__btn btn btn--bordered" href="#">
                  Смотреть все
                </a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="catalog-card">
              <div class="catalog-card__top">
                <picture>
                  <source srcset="img/catalog/1.webp" type="image/webp" />
                  <img src="img/catalog/1.jpg" alt="catalog" />
                </picture>
              </div>
              <div class="catalog-card__body">
                <h3 class="catalog-card__title">
                  Детские <br />
                  аттракционы
                </h3>
                <a class="catalog-card__btn btn btn--bordered" href="#">
                  Смотреть все
                </a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="catalog-card">
              <div class="catalog-card__top">
                <picture>
                  <source srcset="img/catalog/1.webp" type="image/webp" />
                  <img src="img/catalog/1.jpg" alt="catalog" />
                </picture>
              </div>
              <div class="catalog-card__body">
                <h3 class="catalog-card__title">
                  Детские <br />
                  аттракционы
                </h3>
                <a class="catalog-card__btn btn btn--bordered" href="#">
                  Смотреть все
                </a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="catalog-card">
              <div class="catalog-card__top">
                <picture>
                  <source srcset="img/catalog/1.webp" type="image/webp" />
                  <img src="img/catalog/1.jpg" alt="catalog" />
                </picture>
              </div>
              <div class="catalog-card__body">
                <h3 class="catalog-card__title">
                  Детские <br />
                  аттракционы
                </h3>
                <a class="catalog-card__btn btn btn--bordered" href="#">
                  Смотреть все
                </a>
              </div>
            </article>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
