<div class="grid">
  <div class="grid__left">
    <div class="side">
      <div class="side__inner">
        <ul class="side__list">
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span>Парковые аттракционы</span>
              <svg class="side__icon">
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Семейные аттракционы </a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"> Детские аттракционы</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">
                    Экстримальные аттракционы

                    <svg class="side__icon">
                      <use xlink:href="img/sprite.svg#chevron"></use>
                    </svg>
                  </a>

                  <div class="submenu">
                    <ul class="submenu__list">
                      <li class="submenu__item">
                        <a class="dropmenu__link" href="#">Маятники </a>
                      </li>
                      <li class="submenu__item">
                        <a class="dropmenu__link" href="#"> Башни падения</a>
                      </li>
                      <li class="submenu__item">
                        <a class="dropmenu__link" href="#">Катальные горки</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
              <svg class="side__icon">
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </a>
            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Рельсовые </a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Безрельсовые</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span>Карусели</span
              ><svg class="side__icon">
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </a>
            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Свадебные с лошадками </a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Цепочные</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">С подьъемом кабин</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
              <svg class="side__icon">
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </a>
            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Бамперные мащины </a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"> Верхний токо-съемник</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"> Нижний токо-съемник</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span> Электромобили </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Колеса обозрения </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source
                  srcset="img/side-links/roller-coaster.webp"
                  type="image/webp"
                />
                <img src="img/side-links/roller-coaster.png" alt="Карусели" />
              </picture>
              <span> Американские горки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source
                  srcset="img/side-links/vr-glasses.webp"
                  type="image/webp"
                />
                <img src="img/side-links/vr-glasses.png" alt="Карусели" />
              </picture>
              <span> VR аттракционы</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid__right">
    <div class="hero">
      <div class="hero__slider swiper">
        <ul class="hero__slides swiper-wrapper">
          <li
            class="hero__slide swiper-slide"
            style="background-image: url('img/hero.jpg')"
          >
            <div class="hero__offer">
              <h2 class="hero__title">
                Современые и увлекательные развлечений для детей
              </h2>
              <p class="hero__text">
                Занимается производством и реализацией воздухоопорных
                конструкций и надувного оборудования для бизнеса в сфере
                развлечений
              </p>
              <button class="hero__btn btn" type="button">
                В каталог атракционов
              </button>
            </div>
          </li>
          <li
            class="hero__slide swiper-slide"
            style="background-image: url('img/hero.jpg')"
          >
            <div class="hero__offer">
              <h2 class="hero__title">
                Современые и увлекательные развлечений для детей
              </h2>
              <p class="hero__text">
                Занимается производством и реализацией воздухоопорных
                конструкций и надувного оборудования для бизнеса в сфере
                развлечений
              </p>
              <button class="hero__btn btn" type="button">
                В каталог атракционов
              </button>
            </div>
          </li>
          <li
            class="hero__slide swiper-slide"
            style="background-image: url('img/hero.jpg')"
          >
            <div class="hero__offer">
              <h2 class="hero__title">
                Современые и увлекательные развлечений для детей
              </h2>
              <p class="hero__text">
                Занимается производством и реализацией воздухоопорных
                конструкций и надувного оборудования для бизнеса в сфере
                развлечений
              </p>
              <button class="hero__btn btn" type="button">
                В каталог атракционов
              </button>
            </div>
          </li>
        </ul>

        <div class="hero__actions">
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
