<div class="news-grid">
  <div class="container">
    <ul class="news-grid__list">
      <li class="news-grid__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/1.webp" type="image/webp" />
              <img src="img/news/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Маркетинг для батутного бизнеса. <br />
                Часть 1. Социальные Сети
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news-grid__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/1.webp" type="image/webp" />
              <img src="img/news/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Наш первый парк в Ульяновске. Презентуем новый бизнес, надувные
                парки развлечений для всех возрастов
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news-grid__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/1.webp" type="image/webp" />
              <img src="img/news/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Маркетинг для батутного бизнеса. <br />
                Часть 1. Социальные Сети
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news-grid__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/1.webp" type="image/webp" />
              <img src="img/news/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Маркетинг для батутного бизнеса. <br />
                Часть 1. Социальные Сети
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news-grid__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/1.webp" type="image/webp" />
              <img src="img/news/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Маркетинг для батутного бизнеса. <br />
                Часть 1. Социальные Сети
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news-grid__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/1.webp" type="image/webp" />
              <img src="img/news/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Маркетинг для батутного бизнеса. <br />
                Часть 1. Социальные Сети
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news-grid__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/1.webp" type="image/webp" />
              <img src="img/news/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Маркетинг для батутного бизнеса. <br />
                Часть 1. Социальные Сети
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news-grid__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/1.webp" type="image/webp" />
              <img src="img/news/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Маркетинг для батутного бизнеса. <br />
                Часть 1. Социальные Сети
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news-grid__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/1.webp" type="image/webp" />
              <img src="img/news/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Маркетинг для батутного бизнеса. <br />
                Часть 1. Социальные Сети
              </a>
            </h3>
          </div>
        </article>
      </li>
    </ul>

    <button class="news-grid__btn btn btn--bordered" type="button">
      Загрузить еще
    </button>
  </div>
</div>
