<section class="news">
  <div class="container">
    <div class="news__top">
      <h2 class="news__title">Обзоры и новости</h2>
      <a class="news__link" href="#">Все новости</a>
    </div>

    <ul class="news__list">
      <li class="news__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/1.webp" type="image/webp" />
              <img src="img/news/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Маркетинг для батутного бизнеса. <br />
                Часть 1. Социальные Сети
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__badge" href="#">Обзоры</a>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/2.webp" type="image/webp" />
              <img src="img/news/2.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Самый продвинутый аттракцион детский паровозик на колесах
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/3.webp" type="image/webp" />
              <img src="img/news/3.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/4.webp" type="image/webp" />
              <img src="img/news/4.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <span class="news-card__badge">Обзоры</span>

          <a class="news-card__top" href="#">
            <picture>
              <source srcset="img/news/5.webp" type="image/webp" />
              <img src="img/news/5.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__detail">20.09.2022</p>
              <p class="news-card__detail">15:00</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
