<section class="subscribe">
  <div class="container">
    <div class="subscribe__top">
      <h2 class="subscribe__title">Эксклюзивные скидки</h2>
      <p class="subscribe__text">
        Подпишитесь на наши новости и получите купон на скидку 10%!
      </p>
    </div>
    <form class="subscribe__form form-subscribe">
      <div class="form-subscribe__group">
        <input
          class="form-subscribe__input"
          type="text"
          placeholder="Введите Ваш e-mail"
        />

        <button class="form-subscribe__btn" type="submit">Подписаться</button>
      </div>
    </form>
    <p class="subscribe__text">или присоединяйтесь к нам в соц сетях</p>
    <div class="subscribe__socials socials">
      <ul class="socials__list">
        <li class="socials__item">
          <a
            class="socials__link socials__link--fb"
            href="#"
            target="_blank"
            aria-label="Facebook"
          ></a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link socials__link--vk"
            href="#"
            target="_blank"
            aria-label="Вконтакте"
          ></a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link socials__link--tw"
            href="#"
            target="_blank"
            aria-label="Twitter"
          ></a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link socials__link--inst"
            href="#"
            target="_blank"
            aria-label="Instagram"
          ></a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link socials__link--yb"
            href="#"
            target="_blank"
            aria-label="Youtube"
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
