<section class="team">
  <div class="container">
    <div class="team__top">
      <h2 class="team__title">Наши сотрудники</h2>

      <div class="team__arrows">
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
        <button
          class="swiper-button-next"
          aria-label="Следующий"
          type="button"
        ></button>
      </div>
    </div>
    <div class="team__slider swiper">
      <ul class="team__slides swiper-wrapper">
        <li class="team__slide swiper-slide">
          <div class="team-card">
            <div class="team-card__top">
              <picture>
                <source srcset="img/team/1.webp" type="image/webp" />
                <img src="img/team/1.jpg" alt="team" />
              </picture>
            </div>
            <div class="team-card__body">
              <div class="team-card__person">
                <h3 class="team-card__title">Иванов Иван Иванович</h3>
                <span class="team-card__prof">гинеральный директор</span>
              </div>
              <div class="team-card__links">
                <a
                  class="team-card__link team-card__link--phone"
                  href="tel:+71234567890"
                >
                  8 (123) 456 78 90
                </a>
                <a
                  class="team-card__link team-card__link--mail"
                  href="mailto:ivanov@gmail.com"
                >
                  ivanov@gmail.com
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="team__slide swiper-slide">
          <div class="team-card">
            <div class="team-card__top">
              <picture>
                <source srcset="img/team/2.webp" type="image/webp" />
                <img src="img/team/2.jpg" alt="team" />
              </picture>
            </div>
            <div class="team-card__body">
              <div class="team-card__person">
                <h3 class="team-card__title">Иванов Иван Иванович</h3>
                <span class="team-card__prof">гинеральный директор</span>
              </div>
              <div class="team-card__links">
                <a
                  class="team-card__link team-card__link--phone"
                  href="tel:+71234567890"
                >
                  8 (123) 456 78 90
                </a>
                <a
                  class="team-card__link team-card__link--mail"
                  href="mailto:ivanov@gmail.com"
                >
                  ivanov@gmail.com
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="team__slide swiper-slide">
          <div class="team-card">
            <div class="team-card__top">
              <picture>
                <source srcset="img/team/3.webp" type="image/webp" />
                <img src="img/team/3.jpg" alt="team" />
              </picture>
            </div>
            <div class="team-card__body">
              <div class="team-card__person">
                <h3 class="team-card__title">Иванов Иван Иванович</h3>
                <span class="team-card__prof">гинеральный директор</span>
              </div>
              <div class="team-card__links">
                <a
                  class="team-card__link team-card__link--phone"
                  href="tel:+71234567890"
                >
                  8 (123) 456 78 90
                </a>
                <a
                  class="team-card__link team-card__link--mail"
                  href="mailto:ivanov@gmail.com"
                >
                  ivanov@gmail.com
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="team__slide swiper-slide">
          <div class="team-card">
            <div class="team-card__top">
              <picture>
                <source srcset="img/team/4.webp" type="image/webp" />
                <img src="img/team/4.jpg" alt="team" />
              </picture>
            </div>
            <div class="team-card__body">
              <div class="team-card__person">
                <h3 class="team-card__title">Иванов Иван Иванович</h3>
                <span class="team-card__prof">гинеральный директор</span>
              </div>
              <div class="team-card__links">
                <a
                  class="team-card__link team-card__link--phone"
                  href="tel:+71234567890"
                >
                  8 (123) 456 78 90
                </a>
                <a
                  class="team-card__link team-card__link--mail"
                  href="mailto:ivanov@gmail.com"
                >
                  ivanov@gmail.com
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="team__slide swiper-slide">
          <div class="team-card">
            <div class="team-card__top">
              <picture>
                <source srcset="img/team/1.webp" type="image/webp" />
                <img src="img/team/1.jpg" alt="team" />
              </picture>
            </div>
            <div class="team-card__body">
              <div class="team-card__person">
                <h3 class="team-card__title">Иванов Иван Иванович</h3>
                <span class="team-card__prof">гинеральный директор</span>
              </div>
              <div class="team-card__links">
                <a
                  class="team-card__link team-card__link--phone"
                  href="tel:+71234567890"
                >
                  8 (123) 456 78 90
                </a>
                <a
                  class="team-card__link team-card__link--mail"
                  href="mailto:ivanov@gmail.com"
                >
                  ivanov@gmail.com
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="team__slide swiper-slide">
          <div class="team-card">
            <div class="team-card__top">
              <picture>
                <source srcset="img/team/2.webp" type="image/webp" />
                <img src="img/team/2.jpg" alt="team" />
              </picture>
            </div>
            <div class="team-card__body">
              <div class="team-card__person">
                <h3 class="team-card__title">Иванов Иван Иванович</h3>
                <span class="team-card__prof">гинеральный директор</span>
              </div>
              <div class="team-card__links">
                <a
                  class="team-card__link team-card__link--phone"
                  href="tel:+71234567890"
                >
                  8 (123) 456 78 90
                </a>
                <a
                  class="team-card__link team-card__link--mail"
                  href="mailto:ivanov@gmail.com"
                >
                  ivanov@gmail.com
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="team__slide swiper-slide">
          <div class="team-card">
            <div class="team-card__top">
              <picture>
                <source srcset="img/team/3.webp" type="image/webp" />
                <img src="img/team/3.jpg" alt="team" />
              </picture>
            </div>
            <div class="team-card__body">
              <div class="team-card__person">
                <h3 class="team-card__title">Иванов Иван Иванович</h3>
                <span class="team-card__prof">гинеральный директор</span>
              </div>
              <div class="team-card__links">
                <a
                  class="team-card__link team-card__link--phone"
                  href="tel:+71234567890"
                >
                  8 (123) 456 78 90
                </a>
                <a
                  class="team-card__link team-card__link--mail"
                  href="mailto:ivanov@gmail.com"
                >
                  ivanov@gmail.com
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="team__slide swiper-slide">
          <div class="team-card">
            <div class="team-card__top">
              <picture>
                <source srcset="img/team/4.webp" type="image/webp" />
                <img src="img/team/4.jpg" alt="team" />
              </picture>
            </div>
            <div class="team-card__body">
              <div class="team-card__person">
                <h3 class="team-card__title">Иванов Иван Иванович</h3>
                <span class="team-card__prof">гинеральный директор</span>
              </div>
              <div class="team-card__links">
                <a
                  class="team-card__link team-card__link--phone"
                  href="tel:+71234567890"
                >
                  8 (123) 456 78 90
                </a>
                <a
                  class="team-card__link team-card__link--mail"
                  href="mailto:ivanov@gmail.com"
                >
                  ivanov@gmail.com
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
