<div class="grid-relative">
  <div class="grid-relative__left">
    <div class="side">
      <div class="side__inner">
        <ul class="side__list">
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span>Карусели</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span> Машинки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span>Семейные аттракционы</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Зимние атрракционы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span> Карусели </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span> Машинки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span>Семейные аттракционы</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Зимние атрракционы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/7.webp" type="image/webp" />
                <img src="img/side-links/7.png" alt="Карусели" />
              </picture>
              <span>Иллюминация</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/8.webp" type="image/webp" />
                <img src="img/side-links/8.png" alt="Карусели" />
              </picture>
              <span> Сервисное обслуживание </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-relative__right">
    <div class="delivery">
      <div class="delivery__inner">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#"> Доставка и оплата </a>
            </li>
          </ul>
        </div>
        <div class="delivery__content">
          <div class="delivery__offer">
            <h1 class="delivery__title">Доставка и оплата аттракционов</h1>

            <p class="delivery__text">
              Расчет стоимости и срока доставки вашего заказа производится
              нашими менеджерами в реальном времени. <br />Отправка по России
              осуществляется ТК ПЭК. <br />
              Так же заказ можно забрать самовывозом по адресу: Московская
              область, г. Котельники, Дзержинское шоссе, 2, 5 этаж, офис 522.
              <br />
              Расчет производится исходя из веса товара и пункта назначения.
              <br />
              Мы доставляем заказы в любой населенный пункт России и 230 стран
              мира. <br />
            </p>
            <p class="delivery__text"><b>Способы оплаты</b></p>

            <div class="delivery__text">
              <p>1. Транспортной компанией в ваш регион.</p>
              <p>2. Самовывоз со склада в Москве.</p>

              <p>Способы оплаты: Оплата заказа</p>

              <p>1) При покупке товара из наличия с нашего склада возможна оплата наличными по счету, уточняйте у менеджеров</p>
              <p>2) При заказе производства производится наличный или безналичный платеж в размере 50%
                После поступления заказа на склад в Москве налично или безналично оплачиваются вторые 50%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
