<div class="grid">
  <div class="grid__left">
    <div class="side">
      <div class="side__inner">
        <ul class="side__list">
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span>Карусели</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span> Машинки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span>Семейные аттракционы</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Зимние атрракционы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span> Карусели </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span> Машинки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span>Семейные аттракционы</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Зимние атрракционы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/7.webp" type="image/webp" />
                <img src="img/side-links/7.png" alt="Карусели" />
              </picture>
              <span>Иллюминация</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/8.webp" type="image/webp" />
                <img src="img/side-links/8.png" alt="Карусели" />
              </picture>
              <span> Сервисное обслуживание </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid__right">
    <div class="about-top" style="background-image: url('img/about-bg.jpg')">
      <div class="about-top__inner">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#"> О нас</a>
            </li>
          </ul>
        </div>
        <div class="about-top__offer">
          <h1 class="about-top__title">О нас</h1>
          <h2 class="about-top__heading">
            Добро пожаловать к нам на сайт и давайте знакомиться!
          </h2>
          <p class="about-top__text">
            Компания Air-Games занимается производством и реализацией
            воздухоопорных конструкций и надувного оборудования для бизнеса в
            сфере развлечений и оказания рекламных услуг.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
