<div class="grid-relative grid-relative--pb ">
  <div class="grid-relative__left">
    <div class="side">
      <div class="side__inner">
        <ul class="side__list">
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span>Карусели</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span> Машинки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span>Семейные аттракционы</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Зимние атрракционы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span> Карусели </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span> Машинки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span>Семейные аттракционы</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Зимние атрракционы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/7.webp" type="image/webp" />
                <img src="img/side-links/7.png" alt="Карусели" />
              </picture>
              <span>Иллюминация</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/8.webp" type="image/webp" />
                <img src="img/side-links/8.png" alt="Карусели" />
              </picture>
              <span> Сервисное обслуживание </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-relative__right">
    <div class="contacts-top">
      <div class="contacts-top__inner">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
        <h1 class="contacts-top__title">Контакты</h1>

        <div class="contacts-top__content">
          <div class="contacts-top__map map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad7f6167f758a19897fa2fd1df8fb3a2094c33df27574dc4cf2e41a645f94b5c8&amp;source=constructor"
              width="650"
              height="460"
            ></iframe>
          </div>
          <div class="contacts-top__connect">
            <div class="contacts-top__address">
              Московская область, Котельники, Дзержинское шоссе, 2, 5 этаж, офис
              522
            </div>
            <div class="contacts-top__phones">
              <a class="contacts-top__phone" href="">8 (495) 363 52 70 </a>
              <a class="contacts-top__phone" href="">8 (966) 050 56 99</a>
            </div>
            <p class="contacts-top__text">
              Рабочее время консультантов производителя надувного оборудования:
              <br />
              С понедельника по пятницу 9:00 — 18:00 (время Московское)
            </p>
            <a class="contacts-top__mail" href="#">sales@air-games.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
