<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="benefits__list">
      <li
        class="benefits-item"
        style="background-image: url('img/benefits/2.jpg')"
      >
        <div class="benefits-item__inner">
          <span class="benefits-item__title">
            Строгий контроль и испытания, необходимые для получения сертификатов
            соответствия
          </span>

          <a class="benefits-item__link" href="#"><span>Подробнее</span></a>
        </div>

        <div class="benefits-item__overlay">
          <span class="benefits-item__counter">01</span>
          <span class="benefits-item__title">
            Строгий контроль и испытания, необходимые для получения сертификатов
            соответствия
          </span>
          <p class="benefits-item__text">
            Для постановки на учет и для официального продления срока службы,
            необходимо обратиться в аккредитованные компании, чтобы пройти
            техническое освидетельствование. Проверить и выбрать организацию
            можно из реестра аккредитованных лиц на официальном сайте...
          </p>
          <a class="benefits-item__link" href="#"><span>Подробнее</span></a>
        </div>
      </li>
      <li
        class="benefits-item"
        style="background-image: url('img/benefits/2.jpg')"
      >
        <div class="benefits-item__inner">
          <span class="benefits-item__title">
            Строгий контроль и испытания, необходимые для получения сертификатов
            соответствия
          </span>

          <a class="benefits-item__link" href="#"><span>Подробнее</span></a>
        </div>

        <div class="benefits-item__overlay">
          <span class="benefits-item__counter">02</span>
          <span class="benefits-item__title">
            Строгий контроль и испытания, необходимые для получения сертификатов
            соответствия
          </span>
          <p class="benefits-item__text">
            Для постановки на учет и для официального продления срока службы,
            необходимо обратиться в аккредитованные компании, чтобы пройти
            техническое освидетельствование. Проверить и выбрать организацию
            можно из реестра аккредитованных лиц на официальном сайте...
          </p>
          <a class="benefits-item__link" href="#"><span>Подробнее</span></a>
        </div>
      </li>
      <li
        class="benefits-item"
        style="background-image: url('img/benefits/3.jpg')"
      >
        <div class="benefits-item__inner">
          <span class="benefits-item__title">
            Поддержка Вашего <br />
            бизнеса 24/7
          </span>

          <a class="benefits-item__link" href="#"><span>Подробнее</span></a>
        </div>

        <div class="benefits-item__overlay">
          <span class="benefits-item__counter">03</span>
          <span class="benefits-item__title">
            Поддержка Вашего <br />
            бизнеса 24/7
          </span>
          <p class="benefits-item__text">
            Для постановки на учет и для официального продления срока службы,
            необходимо обратиться в аккредитованные компании, чтобы пройти
            техническое освидетельствование. Проверить и выбрать организацию
            можно из реестра аккредитованных лиц на официальном сайте...
          </p>
          <a class="benefits-item__link" href="#"><span>Подробнее</span></a>
        </div>
      </li>
    </ul>
  </div>
</section>
