<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__col">
          <a class="footer__logo logo" href="#">
            <img src="img/logo.png" alt="логотип" />
          </a>
          <address class="footer__address">
            г. Котельники (МО), Дзержинское <br />
            шоссе, 2, 5 этаж, офис 522
          </address>
        </div>
        <div class="footer__cols">
          <div class="footer__col">
            <span class="footer__name">Каталог</span>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Карусели</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Паровозы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Машинки</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Автодромы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Семейные</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Зимние</a>
              </li>
            </ul>
          </div>
          <div class="footer__col">
            <span class="footer__name">Компания</span>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">О нас</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Гарантии</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Доставка и оплата</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Новости</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Контакты</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Покупка в кредит</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__col">
          <span class="footer__name">Мы в соц сетях</span>
          <ul class="footer-socials">
            <li class="footer-socials__item">
              <a class="footer-socials__link footer-socials__link--vk" href="#">
                Вконтакте
              </a>
            </li>
            <li class="footer-socials__item">
              <a
                class="footer-socials__link footer-socials__link--inst"
                href="#"
              >
                Instagram
              </a>
            </li>
            <li class="footer-socials__item">
              <a class="footer-socials__link footer-socials__link--tg" href="#">
                Telegram
              </a>
            </li>
            <li class="footer-socials__item">
              <a class="footer-socials__link footer-socials__link--ok" href="#">
                Одноклассники
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__col footer__col--support">
          <span class="footer__name">Поддержка клиентов</span>

          <span class="footer__schedule">Пн-Вс 9.00 - 18.00</span>

          <div class="footer__phones">
            <a class="footer__link" href="tel:+7495363-52-70">
              +7(495)363-52-70 (звонок бесплатный)
            </a>
            <a class="footer__link" href="tel:+7966050-56-99">
              +7(966)050-56-99
            </a>
          </div>

          <div class="footer__mails">
            <a class="footer__link" href="mailto:sale@air-games.ru">
              sale@air-games.ru
            </a>

            <a class="footer__link" href="mailto:a.glubokov@air-games.ru">
              a.glubokov@air-games.ru
            </a>
          </div>

          <button class="footer__order-btn" type="button">
            Онлайн заказ макета
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <p>
          © 2004 - 2022 ООО «Геймс Групп». Все права защищены.
          <a href="#">Политика конфиденциальности.</a>
          <a href="#"> Карта сайта. </a>
        </p>
        <ul class="footer__payment payment-list">
          <li class="payment-list__item">
            <svg  >
              <use xlink:href="img/sprite.svg#visa"></use>
            </svg>
          </li>
          <li class="payment-list__item">
            <svg>
              <use xlink:href="img/sprite.svg#mastercard"></use>
            </svg>
          </li>
          <li class="payment-list__item">
            <svg>
              <use xlink:href="img/sprite.svg#qiwibank"></use>
            </svg>
          </li>
          <li class="payment-list__item">
            <svg>
              <use xlink:href="img/sprite.svg#yoomoney"></use>
            </svg>
          </li>
          <li class="payment-list__item">
            <svg>
              <use xlink:href="img/sprite.svg#alfabank"></use>
            </svg>
          </li>
          <li class="payment-list__item">
            <svg>
              <use xlink:href="img/sprite.svg#sberbank"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
