<section class="products-new">
  <div class="container-fluid">
    <div class="products-new__head">
      <span>новинки</span>
      <h2 class="products-new__title">Новые постепления</h2>
    </div>

    <div class="tabs-new">
      <div class="products__top">
        <div class="products__top-inner">
          <ul class="products__top-list">
            <li class="products__top-item">
              <button
                class="products__top-btn tabs-new__btn active"
                type="button"
              >
                Все
              </button>
            </li>
            <li class="products__top-item">
              <button class="products__top-btn tabs-new__btn" type="button">
                Карусели
              </button>
            </li>
            <li class="products__top-item">
              <button class="products__top-btn tabs-new__btn" type="button">
                Паровозы
              </button>
            </li>
            <li class="products__top-item">
              <button class="products__top-btn tabs-new__btn" type="button">
                Машинки
              </button>
            </li>
            <li class="products__top-item">
              <button class="products__top-btn tabs-new__btn" type="button">
                Автодромы
              </button>
            </li>
            <li class="products__top-item">
              <button class="products__top-btn tabs-new__btn" type="button">
                Семейные экстримальные аттракционы
              </button>
            </li>
            <li class="products__top-item">
              <button class="products__top-btn tabs-new__btn" type="button">
                Зимние атрракционы
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="products__content tabs-new__content active">
        <div class="products__slider slider-row swiper">
          <ul class="products__slides swiper-wrapper">
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="products__content tabs-new__content">
        <div class="products__slider slider-row swiper">
          <ul class="products__slides swiper-wrapper">
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="products__content tabs-new__content">
        <div class="products__slider slider-row swiper">
          <ul class="products__slides swiper-wrapper">
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="products__content tabs-new__content">
        <div class="products__slider slider-row swiper">
          <ul class="products__slides swiper-wrapper">
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="products__content tabs-new__content">
        <div class="products__slider slider-row swiper">
          <ul class="products__slides swiper-wrapper">
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="products__content tabs-new__content">
        <div class="products__slider slider-row swiper">
          <ul class="products__slides swiper-wrapper">
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="products__content tabs-new__content">
        <div class="products__slider slider-row swiper">
          <ul class="products__slides swiper-wrapper">
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/1.webp" type="image/webp" />
                    <img src="img/products/1.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#"> Аттракцион прыгающие машинки </a>
                  </h3>
                  <span class="products-card__price">3 194 148 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/2.webp" type="image/webp" />
                    <img src="img/products/2.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Парковый аттракцион Самолет</a>
                  </h3>
                  <span class="products-card__price">1 277 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/3.webp" type="image/webp" />
                    <img src="img/products/3.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Мини-колесо обозрения</a>
                  </h3>
                  <span class="products-card__price">2 922 181 ₽</span>
                </div>
              </article>
            </li>
            <li class="products__slide swiper-slide">
              <article class="products-card">
                <a class="products-card__top" href="#">
                  <picture>
                    <source srcset="img/products/4.webp" type="image/webp" />
                    <img src="img/products/4.jpg" alt="products" />
                  </picture>
                </a>
                <div class="products-card__body">
                  <h3 class="products-card__title">
                    <a href="#">Аттракцион Сумасшедшая волна</a>
                  </h3>
                  <span class="products-card__price">6 319 227 ₽</span>
                </div>
              </article>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
