<div class="product-tab">
  <div class="container">
    <div class="product-tab__top">
      <ul class="product-tab__list">
        <li class="product-tab__item">
          <button class="product-tab__btn active" type="button">
            Описание
          </button>
        </li>
        <li class="product-tab__item">
          <button class="product-tab__btn" type="button">
            Доставка и оплата
          </button>
        </li>
        <li class="product-tab__item">
          <button class="product-tab__btn" type="button">
            Вопросы и ответы
          </button>
        </li>
      </ul>
    </div>

    <div class="product-tab__content active">
      <div class="product-tab__text">
        <p>
          Аттракцион Аккумуляторные машинки бамперные одноместные, передний
          привод - 360 градусов, задний привод Посадка 1 человека. Требует
          ровный пол, подстветка, музыка, таймер вес: 150KG, 1.35×0.79×0.7m,
          источник питания: DC48（4 батареи по 12V), мощность: 500W, скорость:
          7-18km/h.
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
    <div class="product-tab__content">
      <div class="product-tab__text">
        <p>
          Аттракцион Аккумуляторные машинки бамперные одноместные, передний
          привод - 360 градусов, задний привод Посадка 1 человека. Требует
          ровный пол, подстветка, музыка, таймер вес: 150KG, 1.35×0.79×0.7m,
          источник питания: DC48（4 батареи по 12V), мощность: 500W, скорость:
          7-18km/h.
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
    <div class="product-tab__content">
      <div class="product-tab__text">
        <p>
          Аттракцион Аккумуляторные машинки бамперные одноместные, передний
          привод - 360 градусов, задний привод Посадка 1 человека. Требует
          ровный пол, подстветка, музыка, таймер вес: 150KG, 1.35×0.79×0.7m,
          источник питания: DC48（4 батареи по 12V), мощность: 500W, скорость:
          7-18km/h.
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
</div>
