<div class="grid-relative">
  <div class="container">
    <div class="grid-relative__left">
      <div class="side">
        <div class="side__inner">
          <ul class="side__list">
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/1.webp" type="image/webp" />
                  <img src="img/side-links/1.png" alt="Карусели" />
                </picture>
                <span>Карусели</span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/2.webp" type="image/webp" />
                  <img src="img/side-links/2.png" alt="Карусели" />
                </picture>
                <span> Паровозы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/3.webp" type="image/webp" />
                  <img src="img/side-links/3.png" alt="Карусели" />
                </picture>
                <span> Машинки </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/4.webp" type="image/webp" />
                  <img src="img/side-links/4.png" alt="Карусели" />
                </picture>
                <span> Автодромы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/5.webp" type="image/webp" />
                  <img src="img/side-links/5.png" alt="Карусели" />
                </picture>
                <span>Семейные аттракционы</span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/6.webp" type="image/webp" />
                  <img src="img/side-links/6.png" alt="Карусели" />
                </picture>
                <span> Зимние атрракционы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/1.webp" type="image/webp" />
                  <img src="img/side-links/1.png" alt="Карусели" />
                </picture>
                <span> Карусели </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/2.webp" type="image/webp" />
                  <img src="img/side-links/2.png" alt="Карусели" />
                </picture>
                <span> Паровозы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/3.webp" type="image/webp" />
                  <img src="img/side-links/3.png" alt="Карусели" />
                </picture>
                <span> Машинки </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/4.webp" type="image/webp" />
                  <img src="img/side-links/4.png" alt="Карусели" />
                </picture>
                <span> Автодромы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/5.webp" type="image/webp" />
                  <img src="img/side-links/5.png" alt="Карусели" />
                </picture>
                <span>Семейные аттракционы</span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/6.webp" type="image/webp" />
                  <img src="img/side-links/6.png" alt="Карусели" />
                </picture>
                <span> Зимние атрракционы </span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/7.webp" type="image/webp" />
                  <img src="img/side-links/7.png" alt="Карусели" />
                </picture>
                <span>Иллюминация</span>
              </a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">
                <picture>
                  <source srcset="img/side-links/8.webp" type="image/webp" />
                  <img src="img/side-links/8.png" alt="Карусели" />
                </picture>
                <span> Сервисное обслуживание </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-relative__right">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Каталог</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">Машинки</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#"
              >Бамперная одноместная машинка КМ-7</a
            >
          </li>
        </ul>
      </div>
      <section class="product">
        <h1 class="product__title">Бамперная одноместная машинка КМ-7</h1>

        <div class="product__wrapper">
          <div class="product__slider swiper">
            <ul class="product__slides swiper-wrapper">
              <li class="product__slide swiper-slide">
                <picture>
                  <source srcset="img/product.webp" type="image/webp" />
                  <img src="img/product.jpg" alt="product" />
                </picture>
              </li>
              <li class="product__slide swiper-slide">
                <picture>
                  <source srcset="img/product.webp" type="image/webp" />
                  <img src="img/product.jpg" alt="product" />
                </picture>
              </li>
              <li class="product__slide swiper-slide">
                <picture>
                  <source srcset="img/product.webp" type="image/webp" />
                  <img src="img/product.jpg" alt="product" />
                </picture>
              </li>
            </ul>

            <div class="product__actions">
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button>
            </div>
          </div>
          <div class="product__info">
            <span class="product__price">119 000 ₽</span>
            <button class="product__btn btn" type="button">Купить</button>
            <p class="product__note">
              Цены действуют с 01.06.2022 <br />
              ОТГРУЗКА Уссурийск, Владивосток, ХАБАРОВСК рассчитаем стоимость
              доставки в ваш город в день обращения
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
