<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы наших клиентов</h2>

    <div class="reviews__slider swiper">
      <ul class="reviews__slides swiper-wrapper">
        <li class="reviews__slide swiper-slide">
          <div class="reviews-video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/ODPxZzJM8S4"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/ODPxZzJM8S4"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/ODPxZzJM8S4"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/ODPxZzJM8S4"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/ODPxZzJM8S4"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/ODPxZzJM8S4"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>
  </div>
</section>
