<div class="grid">
  <div class="grid__left">
    <div class="side">
      <div class="side__inner">
        <ul class="side__list">
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span>Карусели</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span> Машинки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span>Семейные аттракционы</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Зимние атрракционы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span> Карусели </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span> Машинки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span>Семейные аттракционы</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Зимние атрракционы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/7.webp" type="image/webp" />
                <img src="img/side-links/7.png" alt="Карусели" />
              </picture>
              <span>Иллюминация</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/8.webp" type="image/webp" />
                <img src="img/side-links/8.png" alt="Карусели" />
              </picture>
              <span> Сервисное обслуживание </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid__right">
    <div class="credit-top">
      <div class="credit-top__inner">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Покупка в кредит</a>
            </li>
          </ul>
        </div>
        <div class="credit-top__content">
          <div class="credit-top__offer">
            <h1 class="credit-top__title">Покупка в кредит</h1>
            <div class="credit-top__text">
              <p>
                В компании «AIR-GAMES» Вы можете воспользоваться услугой покупки
                в кредит – это просто и быстро!
              </p>
              <p>
                В кредит Вы можете приобрести практически всю продукцию нашей
                компании: надувные батуты, горки, бассейны, аэромены, рекламные
                конструкции и другие популярные модели надувных аттракционов
                различной тематики и конфигурации из нашего каталога.
              </p>
              <p>
                Если Вам потребуется помощь или консультация, наш менеджер
                проконсультирует по всем вопросам по тел. +7(495)363-52-70,
                +7(966)050-56-99.
              </p>
            </div>
          </div>
          <picture>
            <source srcset="img/credit-img.webp" type="image/webp" />
            <img
              class="credit-top__img"
              src="img/credit-img.jpg"
              alt="credit"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
