<div class="grid">
  <div class="grid__left">
    <div class="side">
      <div class="side__inner">
        <ul class="side__list">
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span>Карусели</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span> Машинки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span>Семейные аттракционы</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Зимние атрракционы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/1.webp" type="image/webp" />
                <img src="img/side-links/1.png" alt="Карусели" />
              </picture>
              <span> Карусели </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/2.webp" type="image/webp" />
                <img src="img/side-links/2.png" alt="Карусели" />
              </picture>
              <span> Паровозы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/3.webp" type="image/webp" />
                <img src="img/side-links/3.png" alt="Карусели" />
              </picture>
              <span> Машинки </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/4.webp" type="image/webp" />
                <img src="img/side-links/4.png" alt="Карусели" />
              </picture>
              <span> Автодромы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/5.webp" type="image/webp" />
                <img src="img/side-links/5.png" alt="Карусели" />
              </picture>
              <span>Семейные аттракционы</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/6.webp" type="image/webp" />
                <img src="img/side-links/6.png" alt="Карусели" />
              </picture>
              <span> Зимние атрракционы </span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/7.webp" type="image/webp" />
                <img src="img/side-links/7.png" alt="Карусели" />
              </picture>
              <span>Иллюминация</span>
            </a>
          </li>
          <li class="side__item">
            <a class="side__link" href="#">
              <picture>
                <source srcset="img/side-links/8.webp" type="image/webp" />
                <img src="img/side-links/8.png" alt="Карусели" />
              </picture>
              <span> Сервисное обслуживание </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid__right">
    <div class="news-top">
      <div class="news-top__inner">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#"> О нас</a>
            </li>
          </ul>
        </div>
        <div class="news-top__offer">
          <h1 class="news-top__title">Новости</h1>

          <div class="news-top__text">
            <p>
              Каждую неделю для вас мы готовим интересный контент, это может
              быть обучение, интервью, видео уроки.
            </p>
            <p>
              А так же раз в неделю мы готовим для вас обзоры своих товаров.
            </p>
            <p>Обязательно следите за всеми новостями компании.</p>
          </div>

          <ul class="news-top__list">
            <li class="news-top__item">
              <article class="news-card">
                <span class="news-card__badge">Обзоры</span>

                <a class="news-card__top" href="#">
                  <picture>
                    <source srcset="img/news/1.webp" type="image/webp" />
                    <img src="img/news/1.jpg" alt="news" />
                  </picture>
                </a>
                <div class="news-card__body">
                  <div class="news-card__details">
                    <p class="news-card__detail">20.09.2022</p>
                    <p class="news-card__detail">15:00</p>
                  </div>
                  <h3 class="news-card__title">
                    <a href="#">
                      Маркетинг для батутного бизнеса. Часть 1. Социальные Сети
                    </a>
                  </h3>
                  <p class="news-card__text">
                    Друзья, всем привет, с вами компания Air-games. Всем кучу
                    посетителей! Сегодня мы открываем для вас очень большую и
                    важную тему: «Маркетинг для батутного бизнеса».
                  </p>
                </div>
              </article>
            </li>
            <li class="news-top__item">
              <article class="news-card">
                <span class="news-card__badge">Обзоры</span>

                <a class="news-card__top" href="#">
                  <picture>
                    <source srcset="img/news/1.webp" type="image/webp" />
                    <img src="img/news/1.jpg" alt="news" />
                  </picture>
                </a>
                <div class="news-card__body">
                  <div class="news-card__details">
                    <p class="news-card__detail">20.09.2022</p>
                    <p class="news-card__detail">15:00</p>
                  </div>
                  <h3 class="news-card__title">
                    <a href="#">
                      Самый продвинутый аттракцион детский
паровозик на колесах
                    </a>
                  </h3>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
